In [ ]:
from pyspark.sql import SparkSession

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 36 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 27.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=6a6834393c56652026acbafd17625073f877e81b067abadef6b45e93cd240912
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
spark = SparkSession.builder.appName("Car-Price").getOrCreate()

In [ ]:
df=spark.read.csv("dataset.csv",header=True,inferSchema=True)

In [ ]:
df.show()

+---+--------------------+----------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+----------+-----+
|_c0|                Name|  Location|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|   Mileage| Engine|     Power|Seats| New_Price|Price|
+---+--------------------+----------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+----------+-----+
|  0|Maruti Wagon R LX...|    Mumbai|2010|            72000|      CNG|      Manual|     First|26.6 km/kg| 998 CC| 58.16 bhp|  5.0|      null| 1.75|
|  1|Hyundai Creta 1.6...|      Pune|2015|            41000|   Diesel|      Manual|     First|19.67 kmpl|1582 CC| 126.2 bhp|  5.0|      null| 12.5|
|  2|        Honda Jazz V|   Chennai|2011|            46000|   Petrol|      Manual|     First| 18.2 kmpl|1199 CC|  88.7 bhp|  5.0| 8.61 Lakh|  4.5|
|  3|   Maruti Ertiga VDI|   Chennai|2012|            87000|   Diesel|      Manual|     First|20.77 kmpl|1248 CC| 88.76 bhp|  7.0|      null|  6.0|
|  4|Audi A4 New 2.0 T...|Coimbatore|2013|            40670|   Diesel|   Automatic|    Second| 15.2 kmpl|1968 CC| 140.8 bhp|  5.0|      null|17.74|
|  5|Hyundai EON LPG E...| Hyderabad|2012|            75000|      LPG|      Manual|     First|21.1 km/kg| 814 CC|  55.2 bhp|  5.0|      null| 2.35|
|  6|Nissan Micra Dies...|    Jaipur|2013|            86999|   Diesel|      Manual|     First|23.08 kmpl|1461 CC|  63.1 bhp|  5.0|      null|  3.5|
|  7|Toyota Innova Cry...|    Mumbai|2016|            36000|   Diesel|   Automatic|     First|11.36 kmpl|2755 CC| 171.5 bhp|  8.0|   21 Lakh| 17.5|
|  8|Volkswagen Vento ...|      Pune|2013|            64430|   Diesel|      Manual|     First|20.54 kmpl|1598 CC| 103.6 bhp|  5.0|      null|  5.2|
|  9|Tata Indica Vista...|   Chennai|2012|            65932|   Diesel|      Manual|    Second| 22.3 kmpl|1248 CC|    74 bhp|  5.0|      null| 1.95|
| 10|    Maruti Ciaz Zeta|     Kochi|2018|            25692|   Petrol|      Manual|     First|21.56 kmpl|1462 CC|103.25 bhp|  5.0|10.65 Lakh| 9.95|
| 11|Honda City 1.5 V ...|   Kolkata|2012|            60000|   Petrol|   Automatic|     First| 16.8 kmpl|1497 CC| 116.3 bhp|  5.0|      null| 4.49|
| 12|Maruti Swift VDI ...|    Jaipur|2015|            64424|   Diesel|      Manual|     First| 25.2 kmpl|1248 CC|    74 bhp|  5.0|      null|  5.6|
| 13|Land Rover Range ...|     Delhi|2014|            72000|   Diesel|   Automatic|     First| 12.7 kmpl|2179 CC| 187.7 bhp|  5.0|      null| 27.0|
| 14|Land Rover Freela...|      Pune|2012|            85000|   Diesel|   Automatic|    Second|  0.0 kmpl|2179 CC|   115 bhp|  5.0|      null| 17.5|
| 15|Mitsubishi Pajero...|     Delhi|2014|           110000|   Diesel|      Manual|     First| 13.5 kmpl|2477 CC|175.56 bhp|  7.0|32.01 Lakh| 15.0|
| 16|Honda Amaze S i-D...|     Kochi|2016|            58950|   Diesel|      Manual|     First| 25.8 kmpl|1498 CC|  98.6 bhp|  5.0|      null|  5.4|
| 17|Maruti Swift DDiS...|    Jaipur|2017|            25000|   Diesel|      Manual|     First| 28.4 kmpl|1248 CC|    74 bhp|  5.0|      null| 5.99|
| 18|Renault Duster 85...|     Kochi|2014|            77469|   Diesel|      Manual|     First|20.45 kmpl|1461 CC|  83.8 bhp|  5.0|      null| 6.34|
| 19|Mercedes-Benz New...| Bangalore|2014|            78500|   Diesel|   Automatic|     First|14.84 kmpl|2143 CC|167.62 bhp|  5.0|      null| 28.0|
+---+--------------------+----------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+----------+-----+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Kilometers_Driven: integer (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner_Type: string (nullable = true)
 |-- Mileage: string (nullable = true)
 |-- Engine: string (nullable = true)
 |-- Power: string (nullable = true)
 |-- Seats: double (nullable = true)
 |-- New_Price: string (nullable = true)
 |-- Price: double (nullable = true)

In [ ]:
df=df.drop("New_Price")

In [ ]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Kilometers_Driven: integer (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner_Type: string (nullable = true)
 |-- Mileage: string (nullable = true)
 |-- Engine: string (nullable = true)
 |-- Power: string (nullable = true)
 |-- Seats: double (nullable = true)
 |-- Price: double (nullable = true)

In [ ]:
df=df.drop("Location")

In [ ]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Kilometers_Driven: integer (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner_Type: string (nullable = true)
 |-- Mileage: string (nullable = true)
 |-- Engine: string (nullable = true)
 |-- Power: string (nullable = true)
 |-- Seats: double (nullable = true)
 |-- Price: double (nullable = true)

In [ ]:
df.groupBy("Name").count().show()

+--------------------+-----+
|                Name|count|
+--------------------+-----+
|Renault Duster 11...|    3|
|Maruti Ciaz 1.4 A...|    1|
| Honda City 1.5 S MT|   34|
|Toyota Etios Liva GD|    9|
|Hyundai i20 1.4 Asta|    3|
|Toyota Innova 2.5...|    4|
|  Maruti 800 DX BSII|    2|
|Toyota Corolla Al...|    3|
|Maruti Swift Lxi ...|    5|
|Volkswagen Vento ...|    1|
|Hyundai Grand i10...|    4|
|Volkswagen Vento ...|    1|
|    Datsun GO Plus A|    1|
|Tata Indica V2 DL...|    1|
|     Honda Brio V MT|    7|
|Hyundai Verna 1.6...|    4|
|Volkswagen Passat...|    1|
|Hyundai Xcent 1.2...|    2|
|Maruti Swift Dzir...|    5|
|Renault Duster 11...|    5|
+--------------------+-----+
only showing top 20 rows

In [ ]:
df.groupBy("Fuel_Type").count().show()

+---------+-----+
|Fuel_Type|count|
+---------+-----+
|   Diesel| 3205|
|      CNG|   56|
| Electric|    2|
|      LPG|   10|
|   Petrol| 2746|
+---------+-----+

In [ ]:
df.groupBy("Transmission").count().show()

+------------+-----+
|Transmission|count|
+------------+-----+
|   Automatic| 1720|
|      Manual| 4299|
+------------+-----+

In [ ]:
df.groupBy("Owner_Type").count().show()

+--------------+-----+
|    Owner_Type|count|
+--------------+-----+
|         First| 4929|
|        Second|  968|
|Fourth & Above|    9|
|         Third|  113|
+--------------+-----+

In [ ]:
from pyspark.ml.feature import StringIndexer

In [ ]:
indexer=StringIndexer(inputCols=["Owner_Type","Fuel_Type","Transmission"],outputCols=["Owner_index","Fuel_index","Transmission_index"])
df_r=indexer.fit(df).transform(df)
df_r.show()

+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+
|_c0|                Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|   Mileage| Engine|     Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|
+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+
|  0|Maruti Wagon R LX...|2010|            72000|      CNG|      Manual|     First|26.6 km/kg| 998 CC| 58.16 bhp|  5.0| 1.75|        0.0|       2.0|               0.0|
|  1|Hyundai Creta 1.6...|2015|            41000|   Diesel|      Manual|     First|19.67 kmpl|1582 CC| 126.2 bhp|  5.0| 12.5|        0.0|       0.0|               0.0|
|  2|        Honda Jazz V|2011|            46000|   Petrol|      Manual|     First| 18.2 kmpl|1199 CC|  88.7 bhp|  5.0|  4.5|        0.0|       1.0|               0.0|
|  3|   Maruti Ertiga VDI|2012|            87000|   Diesel|      Manual|     First|20.77 kmpl|1248 CC| 88.76 bhp|  7.0|  6.0|        0.0|       0.0|               0.0|
|  4|Audi A4 New 2.0 T...|2013|            40670|   Diesel|   Automatic|    Second| 15.2 kmpl|1968 CC| 140.8 bhp|  5.0|17.74|        1.0|       0.0|               1.0|
|  5|Hyundai EON LPG E...|2012|            75000|      LPG|      Manual|     First|21.1 km/kg| 814 CC|  55.2 bhp|  5.0| 2.35|        0.0|       3.0|               0.0|
|  6|Nissan Micra Dies...|2013|            86999|   Diesel|      Manual|     First|23.08 kmpl|1461 CC|  63.1 bhp|  5.0|  3.5|        0.0|       0.0|               0.0|
|  7|Toyota Innova Cry...|2016|            36000|   Diesel|   Automatic|     First|11.36 kmpl|2755 CC| 171.5 bhp|  8.0| 17.5|        0.0|       0.0|               1.0|
|  8|Volkswagen Vento ...|2013|            64430|   Diesel|      Manual|     First|20.54 kmpl|1598 CC| 103.6 bhp|  5.0|  5.2|        0.0|       0.0|               0.0|
|  9|Tata Indica Vista...|2012|            65932|   Diesel|      Manual|    Second| 22.3 kmpl|1248 CC|    74 bhp|  5.0| 1.95|        1.0|       0.0|               0.0|
| 10|    Maruti Ciaz Zeta|2018|            25692|   Petrol|      Manual|     First|21.56 kmpl|1462 CC|103.25 bhp|  5.0| 9.95|        0.0|       1.0|               0.0|
| 11|Honda City 1.5 V ...|2012|            60000|   Petrol|   Automatic|     First| 16.8 kmpl|1497 CC| 116.3 bhp|  5.0| 4.49|        0.0|       1.0|               1.0|
| 12|Maruti Swift VDI ...|2015|            64424|   Diesel|      Manual|     First| 25.2 kmpl|1248 CC|    74 bhp|  5.0|  5.6|        0.0|       0.0|               0.0|
| 13|Land Rover Range ...|2014|            72000|   Diesel|   Automatic|     First| 12.7 kmpl|2179 CC| 187.7 bhp|  5.0| 27.0|        0.0|       0.0|               1.0|
| 14|Land Rover Freela...|2012|            85000|   Diesel|   Automatic|    Second|  0.0 kmpl|2179 CC|   115 bhp|  5.0| 17.5|        1.0|       0.0|               1.0|
| 15|Mitsubishi Pajero...|2014|           110000|   Diesel|      Manual|     First| 13.5 kmpl|2477 CC|175.56 bhp|  7.0| 15.0|        0.0|       0.0|               0.0|
| 16|Honda Amaze S i-D...|2016|            58950|   Diesel|      Manual|     First| 25.8 kmpl|1498 CC|  98.6 bhp|  5.0|  5.4|        0.0|       0.0|               0.0|
| 17|Maruti Swift DDiS...|2017|            25000|   Diesel|      Manual|     First| 28.4 kmpl|1248 CC|    74 bhp|  5.0| 5.99|        0.0|       0.0|               0.0|
| 18|Renault Duster 85...|2014|            77469|   Diesel|      Manual|     First|20.45 kmpl|1461 CC|  83.8 bhp|  5.0| 6.34|        0.0|       0.0|               0.0|
| 19|Mercedes-Benz New...|2014|            78500|   Diesel|   Automatic|     First|14.84 kmpl|2143 CC|167.62 bhp|  5.0| 28.0|        0.0|       0.0|               1.0|
+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+
only showing top 20 rows

In [ ]:
df_r.groupBy("Owner_index").count().show()

+-----------+-----+
|Owner_index|count|
+-----------+-----+
|        0.0| 4929|
|        1.0|  968|
|        3.0|    9|
|        2.0|  113|
+-----------+-----+

In [ ]:
from pyspark.sql.functions import split

In [ ]:
df_r=df_r.withColumn("Mileage_split", split(("Mileage"), " ").getItem(0))

In [ ]:
df_r.show()

+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+
|_c0|                Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|   Mileage| Engine|     Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|Mileage_split|
+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+
|  0|Maruti Wagon R LX...|2010|            72000|      CNG|      Manual|     First|26.6 km/kg| 998 CC| 58.16 bhp|  5.0| 1.75|        0.0|       2.0|               0.0|         26.6|
|  1|Hyundai Creta 1.6...|2015|            41000|   Diesel|      Manual|     First|19.67 kmpl|1582 CC| 126.2 bhp|  5.0| 12.5|        0.0|       0.0|               0.0|        19.67|
|  2|        Honda Jazz V|2011|            46000|   Petrol|      Manual|     First| 18.2 kmpl|1199 CC|  88.7 bhp|  5.0|  4.5|        0.0|       1.0|               0.0|         18.2|
|  3|   Maruti Ertiga VDI|2012|            87000|   Diesel|      Manual|     First|20.77 kmpl|1248 CC| 88.76 bhp|  7.0|  6.0|        0.0|       0.0|               0.0|        20.77|
|  4|Audi A4 New 2.0 T...|2013|            40670|   Diesel|   Automatic|    Second| 15.2 kmpl|1968 CC| 140.8 bhp|  5.0|17.74|        1.0|       0.0|               1.0|         15.2|
|  5|Hyundai EON LPG E...|2012|            75000|      LPG|      Manual|     First|21.1 km/kg| 814 CC|  55.2 bhp|  5.0| 2.35|        0.0|       3.0|               0.0|         21.1|
|  6|Nissan Micra Dies...|2013|            86999|   Diesel|      Manual|     First|23.08 kmpl|1461 CC|  63.1 bhp|  5.0|  3.5|        0.0|       0.0|               0.0|        23.08|
|  7|Toyota Innova Cry...|2016|            36000|   Diesel|   Automatic|     First|11.36 kmpl|2755 CC| 171.5 bhp|  8.0| 17.5|        0.0|       0.0|               1.0|        11.36|
|  8|Volkswagen Vento ...|2013|            64430|   Diesel|      Manual|     First|20.54 kmpl|1598 CC| 103.6 bhp|  5.0|  5.2|        0.0|       0.0|               0.0|        20.54|
|  9|Tata Indica Vista...|2012|            65932|   Diesel|      Manual|    Second| 22.3 kmpl|1248 CC|    74 bhp|  5.0| 1.95|        1.0|       0.0|               0.0|         22.3|
| 10|    Maruti Ciaz Zeta|2018|            25692|   Petrol|      Manual|     First|21.56 kmpl|1462 CC|103.25 bhp|  5.0| 9.95|        0.0|       1.0|               0.0|        21.56|
| 11|Honda City 1.5 V ...|2012|            60000|   Petrol|   Automatic|     First| 16.8 kmpl|1497 CC| 116.3 bhp|  5.0| 4.49|        0.0|       1.0|               1.0|         16.8|
| 12|Maruti Swift VDI ...|2015|            64424|   Diesel|      Manual|     First| 25.2 kmpl|1248 CC|    74 bhp|  5.0|  5.6|        0.0|       0.0|               0.0|         25.2|
| 13|Land Rover Range ...|2014|            72000|   Diesel|   Automatic|     First| 12.7 kmpl|2179 CC| 187.7 bhp|  5.0| 27.0|        0.0|       0.0|               1.0|         12.7|
| 14|Land Rover Freela...|2012|            85000|   Diesel|   Automatic|    Second|  0.0 kmpl|2179 CC|   115 bhp|  5.0| 17.5|        1.0|       0.0|               1.0|          0.0|
| 15|Mitsubishi Pajero...|2014|           110000|   Diesel|      Manual|     First| 13.5 kmpl|2477 CC|175.56 bhp|  7.0| 15.0|        0.0|       0.0|               0.0|         13.5|
| 16|Honda Amaze S i-D...|2016|            58950|   Diesel|      Manual|     First| 25.8 kmpl|1498 CC|  98.6 bhp|  5.0|  5.4|        0.0|       0.0|               0.0|         25.8|
| 17|Maruti Swift DDiS...|2017|            25000|   Diesel|      Manual|     First| 28.4 kmpl|1248 CC|    74 bhp|  5.0| 5.99|        0.0|       0.0|               0.0|         28.4|
| 18|Renault Duster 85...|2014|            77469|   Diesel|      Manual|     First|20.45 kmpl|1461 CC|  83.8 bhp|  5.0| 6.34|        0.0|       0.0|               0.0|        20.45|
| 19|Mercedes-Benz New...|2014|            78500|   Diesel|   Automatic|     First|14.84 kmpl|2143 CC|167.62 bhp|  5.0| 28.0|        0.0|       0.0|               1.0|        14.84|
+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+
only showing top 20 rows

In [ ]:
df_r=df_r.withColumn("Power_split", split(("Power"), " ").getItem(0))
df_r=df_r.withColumn("Engine_split", split(("Engine"), " ").getItem(0))

In [ ]:
df_r.show()

+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+
|_c0|                Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|   Mileage| Engine|     Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|Mileage_split|Power_split|Engine_split|
+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+
|  0|Maruti Wagon R LX...|2010|            72000|      CNG|      Manual|     First|26.6 km/kg| 998 CC| 58.16 bhp|  5.0| 1.75|        0.0|       2.0|               0.0|         26.6|      58.16|         998|
|  1|Hyundai Creta 1.6...|2015|            41000|   Diesel|      Manual|     First|19.67 kmpl|1582 CC| 126.2 bhp|  5.0| 12.5|        0.0|       0.0|               0.0|        19.67|      126.2|        1582|
|  2|        Honda Jazz V|2011|            46000|   Petrol|      Manual|     First| 18.2 kmpl|1199 CC|  88.7 bhp|  5.0|  4.5|        0.0|       1.0|               0.0|         18.2|       88.7|        1199|
|  3|   Maruti Ertiga VDI|2012|            87000|   Diesel|      Manual|     First|20.77 kmpl|1248 CC| 88.76 bhp|  7.0|  6.0|        0.0|       0.0|               0.0|        20.77|      88.76|        1248|
|  4|Audi A4 New 2.0 T...|2013|            40670|   Diesel|   Automatic|    Second| 15.2 kmpl|1968 CC| 140.8 bhp|  5.0|17.74|        1.0|       0.0|               1.0|         15.2|      140.8|        1968|
|  5|Hyundai EON LPG E...|2012|            75000|      LPG|      Manual|     First|21.1 km/kg| 814 CC|  55.2 bhp|  5.0| 2.35|        0.0|       3.0|               0.0|         21.1|       55.2|         814|
|  6|Nissan Micra Dies...|2013|            86999|   Diesel|      Manual|     First|23.08 kmpl|1461 CC|  63.1 bhp|  5.0|  3.5|        0.0|       0.0|               0.0|        23.08|       63.1|        1461|
|  7|Toyota Innova Cry...|2016|            36000|   Diesel|   Automatic|     First|11.36 kmpl|2755 CC| 171.5 bhp|  8.0| 17.5|        0.0|       0.0|               1.0|        11.36|      171.5|        2755|
|  8|Volkswagen Vento ...|2013|            64430|   Diesel|      Manual|     First|20.54 kmpl|1598 CC| 103.6 bhp|  5.0|  5.2|        0.0|       0.0|               0.0|        20.54|      103.6|        1598|
|  9|Tata Indica Vista...|2012|            65932|   Diesel|      Manual|    Second| 22.3 kmpl|1248 CC|    74 bhp|  5.0| 1.95|        1.0|       0.0|               0.0|         22.3|         74|        1248|
| 10|    Maruti Ciaz Zeta|2018|            25692|   Petrol|      Manual|     First|21.56 kmpl|1462 CC|103.25 bhp|  5.0| 9.95|        0.0|       1.0|               0.0|        21.56|     103.25|        1462|
| 11|Honda City 1.5 V ...|2012|            60000|   Petrol|   Automatic|     First| 16.8 kmpl|1497 CC| 116.3 bhp|  5.0| 4.49|        0.0|       1.0|               1.0|         16.8|      116.3|        1497|
| 12|Maruti Swift VDI ...|2015|            64424|   Diesel|      Manual|     First| 25.2 kmpl|1248 CC|    74 bhp|  5.0|  5.6|        0.0|       0.0|               0.0|         25.2|         74|        1248|
| 13|Land Rover Range ...|2014|            72000|   Diesel|   Automatic|     First| 12.7 kmpl|2179 CC| 187.7 bhp|  5.0| 27.0|        0.0|       0.0|               1.0|         12.7|      187.7|        2179|
| 14|Land Rover Freela...|2012|            85000|   Diesel|   Automatic|    Second|  0.0 kmpl|2179 CC|   115 bhp|  5.0| 17.5|        1.0|       0.0|               1.0|          0.0|        115|        2179|
| 15|Mitsubishi Pajero...|2014|           110000|   Diesel|      Manual|     First| 13.5 kmpl|2477 CC|175.56 bhp|  7.0| 15.0|        0.0|       0.0|               0.0|         13.5|     175.56|        2477|
| 16|Honda Amaze S i-D...|2016|            58950|   Diesel|      Manual|     First| 25.8 kmpl|1498 CC|  98.6 bhp|  5.0|  5.4|        0.0|       0.0|               0.0|         25.8|       98.6|        1498|
| 17|Maruti Swift DDiS...|2017|            25000|   Diesel|      Manual|     First| 28.4 kmpl|1248 CC|    74 bhp|  5.0| 5.99|        0.0|       0.0|               0.0|         28.4|         74|        1248|
| 18|Renault Duster 85...|2014|            77469|   Diesel|      Manual|     First|20.45 kmpl|1461 CC|  83.8 bhp|  5.0| 6.34|        0.0|       0.0|               0.0|        20.45|       83.8|        1461|
| 19|Mercedes-Benz New...|2014|            78500|   Diesel|   Automatic|     First|14.84 kmpl|2143 CC|167.62 bhp|  5.0| 28.0|        0.0|       0.0|               1.0|        14.84|     167.62|        2143|
+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+
only showing top 20 rows

In [ ]:
df_r.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Kilometers_Driven: integer (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner_Type: string (nullable = true)
 |-- Mileage: string (nullable = true)
 |-- Engine: string (nullable = true)
 |-- Power: string (nullable = true)
 |-- Seats: double (nullable = true)
 |-- Price: double (nullable = true)
 |-- Owner_index: double (nullable = false)
 |-- Fuel_index: double (nullable = false)
 |-- Transmission_index: double (nullable = false)
 |-- Mileage_split: string (nullable = true)
 |-- Power_split: string (nullable = true)
 |-- Engine_split: string (nullable = true)

In [ ]:
df_r=df_r.withColumn("Company_Name", split(("Name"), " ").getItem(0))
df_r.show()

+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+-------------+
|_c0|                Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|   Mileage| Engine|     Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|Mileage_split|Power_split|Engine_split| Company_Name|
+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+-------------+
|  0|Maruti Wagon R LX...|2010|            72000|      CNG|      Manual|     First|26.6 km/kg| 998 CC| 58.16 bhp|  5.0| 1.75|        0.0|       2.0|               0.0|         26.6|      58.16|         998|       Maruti|
|  1|Hyundai Creta 1.6...|2015|            41000|   Diesel|      Manual|     First|19.67 kmpl|1582 CC| 126.2 bhp|  5.0| 12.5|        0.0|       0.0|               0.0|        19.67|      126.2|        1582|      Hyundai|
|  2|        Honda Jazz V|2011|            46000|   Petrol|      Manual|     First| 18.2 kmpl|1199 CC|  88.7 bhp|  5.0|  4.5|        0.0|       1.0|               0.0|         18.2|       88.7|        1199|        Honda|
|  3|   Maruti Ertiga VDI|2012|            87000|   Diesel|      Manual|     First|20.77 kmpl|1248 CC| 88.76 bhp|  7.0|  6.0|        0.0|       0.0|               0.0|        20.77|      88.76|        1248|       Maruti|
|  4|Audi A4 New 2.0 T...|2013|            40670|   Diesel|   Automatic|    Second| 15.2 kmpl|1968 CC| 140.8 bhp|  5.0|17.74|        1.0|       0.0|               1.0|         15.2|      140.8|        1968|         Audi|
|  5|Hyundai EON LPG E...|2012|            75000|      LPG|      Manual|     First|21.1 km/kg| 814 CC|  55.2 bhp|  5.0| 2.35|        0.0|       3.0|               0.0|         21.1|       55.2|         814|      Hyundai|
|  6|Nissan Micra Dies...|2013|            86999|   Diesel|      Manual|     First|23.08 kmpl|1461 CC|  63.1 bhp|  5.0|  3.5|        0.0|       0.0|               0.0|        23.08|       63.1|        1461|       Nissan|
|  7|Toyota Innova Cry...|2016|            36000|   Diesel|   Automatic|     First|11.36 kmpl|2755 CC| 171.5 bhp|  8.0| 17.5|        0.0|       0.0|               1.0|        11.36|      171.5|        2755|       Toyota|
|  8|Volkswagen Vento ...|2013|            64430|   Diesel|      Manual|     First|20.54 kmpl|1598 CC| 103.6 bhp|  5.0|  5.2|        0.0|       0.0|               0.0|        20.54|      103.6|        1598|   Volkswagen|
|  9|Tata Indica Vista...|2012|            65932|   Diesel|      Manual|    Second| 22.3 kmpl|1248 CC|    74 bhp|  5.0| 1.95|        1.0|       0.0|               0.0|         22.3|         74|        1248|         Tata|
| 10|    Maruti Ciaz Zeta|2018|            25692|   Petrol|      Manual|     First|21.56 kmpl|1462 CC|103.25 bhp|  5.0| 9.95|        0.0|       1.0|               0.0|        21.56|     103.25|        1462|       Maruti|
| 11|Honda City 1.5 V ...|2012|            60000|   Petrol|   Automatic|     First| 16.8 kmpl|1497 CC| 116.3 bhp|  5.0| 4.49|        0.0|       1.0|               1.0|         16.8|      116.3|        1497|        Honda|
| 12|Maruti Swift VDI ...|2015|            64424|   Diesel|      Manual|     First| 25.2 kmpl|1248 CC|    74 bhp|  5.0|  5.6|        0.0|       0.0|               0.0|         25.2|         74|        1248|       Maruti|
| 13|Land Rover Range ...|2014|            72000|   Diesel|   Automatic|     First| 12.7 kmpl|2179 CC| 187.7 bhp|  5.0| 27.0|        0.0|       0.0|               1.0|         12.7|      187.7|        2179|         Land|
| 14|Land Rover Freela...|2012|            85000|   Diesel|   Automatic|    Second|  0.0 kmpl|2179 CC|   115 bhp|  5.0| 17.5|        1.0|       0.0|               1.0|          0.0|        115|        2179|         Land|
| 15|Mitsubishi Pajero...|2014|           110000|   Diesel|      Manual|     First| 13.5 kmpl|2477 CC|175.56 bhp|  7.0| 15.0|        0.0|       0.0|               0.0|         13.5|     175.56|        2477|   Mitsubishi|
| 16|Honda Amaze S i-D...|2016|            58950|   Diesel|      Manual|     First| 25.8 kmpl|1498 CC|  98.6 bhp|  5.0|  5.4|        0.0|       0.0|               0.0|         25.8|       98.6|        1498|        Honda|
| 17|Maruti Swift DDiS...|2017|            25000|   Diesel|      Manual|     First| 28.4 kmpl|1248 CC|    74 bhp|  5.0| 5.99|        0.0|       0.0|               0.0|         28.4|         74|        1248|       Maruti|
| 18|Renault Duster 85...|2014|            77469|   Diesel|      Manual|     First|20.45 kmpl|1461 CC|  83.8 bhp|  5.0| 6.34|        0.0|       0.0|               0.0|        20.45|       83.8|        1461|      Renault|
| 19|Mercedes-Benz New...|2014|            78500|   Diesel|   Automatic|     First|14.84 kmpl|2143 CC|167.62 bhp|  5.0| 28.0|        0.0|       0.0|               1.0|        14.84|     167.62|        2143|Mercedes-Benz|
+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+-------------+
only showing top 20 rows

In [ ]:
df_r.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Kilometers_Driven: integer (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner_Type: string (nullable = true)
 |-- Mileage: string (nullable = true)
 |-- Engine: string (nullable = true)
 |-- Power: string (nullable = true)
 |-- Seats: double (nullable = true)
 |-- Price: double (nullable = true)
 |-- Owner_index: double (nullable = false)
 |-- Fuel_index: double (nullable = false)
 |-- Transmission_index: double (nullable = false)
 |-- Mileage_split: string (nullable = true)
 |-- Power_split: string (nullable = true)
 |-- Engine_split: string (nullable = true)
 |-- Company_Name: string (nullable = true)

In [ ]:
df_r.filter(df_r.Company_Name.isNull()).show()

+---+----+----+-----------------+---------+------------+----------+-------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+
|_c0|Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|Mileage|Engine|Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|Mileage_split|Power_split|Engine_split|Company_Name|
+---+----+----+-----------------+---------+------------+----------+-------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+
+---+----+----+-----------------+---------+------------+----------+-------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+

In [ ]:
df_r.filter(df_r.Mileage_split.isNull()).show()

+----+--------------------+----+-----------------+---------+------------+----------+-------+-------+------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
| _c0|                Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|Mileage| Engine| Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|Mileage_split|Power_split|Engine_split|Company_Name|compane_Name_index|old_of_car_year|year_old_positive|Engine_split_new|Mileage_split_new|Power_split_new|
+----+--------------------+----+-----------------+---------+------------+----------+-------+-------+------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
|4446|Mahindra E Verito D4|2016|            50000| Electric|   Automatic|     First|   null|  72 CC|41 bhp|  5.0| 13.0|        0.0|       4.0|               1.0|         null|         41|          72|    Mahindra|               7.0|             -4|                4|            72.0|             null|           41.0|
|4904|Toyota Prius 2009...|2011|            44000| Electric|   Automatic|     First|   null|1798 CC|73 bhp|  5.0|12.75|        0.0|       4.0|               1.0|         null|         73|        1798|      Toyota|               3.0|             -9|                9|          1798.0|             null|           73.0|
+----+--------------------+----+-----------------+---------+------------+----------+-------+-------+------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+

In [ ]:
df_r.filter(df_r.Engine_split.isNull()).show()

+----+--------------------+----+-----------------+---------+------------+----------+----------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
| _c0|                Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|   Mileage|Engine|Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|Mileage_split|Power_split|Engine_split|Company_Name|compane_Name_index|old_of_car_year|year_old_positive|Engine_split_new|Mileage_split_new|Power_split_new|
+----+--------------------+----+-----------------+---------+------------+----------+----------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
| 194|  Honda City 1.5 GXI|2007|            60006|   Petrol|      Manual|     First|  0.0 kmpl|  null| null| null| 2.95|        0.0|       1.0|               0.0|          0.0|       null|        null|       Honda|               2.0|            -13|               13|            null|              0.0|           null|
| 208|Maruti Swift 1.3 VXi|2010|            42001|   Petrol|      Manual|     First| 16.1 kmpl|  null| null| null| 2.11|        0.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|            -10|               10|            null|             16.1|           null|
| 733|Maruti Swift 1.3 VXi|2006|            97800|   Petrol|      Manual|     Third| 16.1 kmpl|  null| null| null| 1.75|        2.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|            -14|               14|            null|             16.1|           null|
| 749|Land Rover Range ...|2008|            55001|   Diesel|   Automatic|    Second|  0.0 kmpl|  null| null| null| 26.5|        1.0|       0.0|               1.0|          0.0|       null|        null|        Land|              15.0|            -12|               12|            null|              0.0|           null|
|1294|   Honda City 1.3 DX|2009|            55005|   Petrol|      Manual|     First| 12.8 kmpl|  null| null| null|  3.2|        0.0|       1.0|               0.0|         12.8|       null|        null|       Honda|               2.0|            -11|               11|            null|             12.8|           null|
|1327|Maruti Swift 1.3 ZXI|2015|            50295|   Petrol|      Manual|     First| 16.1 kmpl|  null| null| null|  5.8|        0.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|             -5|                5|            null|             16.1|           null|
|1385|  Honda City 1.5 GXI|2004|           115000|   Petrol|      Manual|    Second|  0.0 kmpl|  null| null| null|  1.5|        1.0|       1.0|               0.0|          0.0|       null|        null|       Honda|               2.0|            -16|               16|            null|              0.0|           null|
|1460|Land Rover Range ...|2008|            69078|   Petrol|      Manual|     First|  0.0 kmpl|  null| null| null|40.88|        0.0|       1.0|               0.0|          0.0|       null|        null|        Land|              15.0|            -12|               12|            null|              0.0|           null|
|2074|Maruti Swift 1.3 LXI|2011|            24255|   Petrol|      Manual|     First| 16.1 kmpl|  null| null| null| 3.15|        0.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|             -9|                9|            null|             16.1|           null|
|2096|Hyundai Santro LP...|2004|            52146|   Petrol|      Manual|     First|  0.0 kmpl|  null| null| null| 1.93|        0.0|       1.0|               0.0|          0.0|       null|        null|     Hyundai|               1.0|            -16|               16|            null|              0.0|           null|
|2264| Toyota Etios Liva V|2012|            24500|   Petrol|      Manual|    Second| 18.3 kmpl|  null| null| null| 2.95|        1.0|       1.0|               0.0|         18.3|       null|        null|      Toyota|               3.0|             -8|                8|            null|             18.3|           null|
|2325|Maruti Swift 1.3 ...|2015|            67000|   Petrol|      Manual|     First| 16.1 kmpl|  null| null| null|  4.7|        0.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|             -5|                5|            null|             16.1|           null|
|2335|Maruti Swift 1.3 VXi|2007|            55000|   Petrol|      Manual|    Second| 16.1 kmpl|  null| null| null| 1.75|        1.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|            -13|               13|            null|             16.1|           null|
|2530|BMW 5 Series 520d...|2014|            64158|   Diesel|   Automatic|     First|18.48 kmpl|  null| null| null|17.89|        0.0|       0.0|               1.0|        18.48|       null|        null|         BMW|               8.0|             -6|                6|            null|            18.48|           null|
|2542|Hyundai Santro GL...|2011|            65000|   Petrol|      Manual|    Second|  0.0 kmpl|  null| null| null| 3.15|        1.0|       1.0|               0.0|          0.0|       null|        null|     Hyundai|               1.0|             -9|                9|            null|              0.0|           null|
|2623|BMW 5 Series 520d...|2012|            95000|   Diesel|   Automatic|    Second|18.48 kmpl|  null| null| null| 18.0|        1.0|       0.0|               1.0|        18.48|       null|        null|         BMW|               8.0|             -8|                8|            null|            18.48|           null|
|2668|Maruti Swift 1.3 VXi|2014|            32986|   Petrol|      Manual|     First| 16.1 kmpl|  null| null| null| 4.24|        0.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|             -6|                6|            null|             16.1|           null|
|2737|   Maruti Wagon R Vx|2001|           200000|   Petrol|      Manual|     First| 12.0 kmpl|  null| null| null|  0.7|        0.0|       1.0|               0.0|         12.0|       null|        null|      Maruti|               0.0|            -19|               19|            null|             12.0|           null|
|2780|Hyundai Santro GL...|2009|           100000|   Petrol|      Manual|     First|  0.0 kmpl|  null| null| null|  1.6|        0.0|       1.0|               0.0|          0.0|       null|        null|     Hyundai|               1.0|            -11|               11|            null|              0.0|           null|
|2842|Hyundai Santro GL...|2012|            43000|   Petrol|      Manual|     First|  0.0 kmpl|  null| null| null| 3.25|        0.0|       1.0|               0.0|          0.0|       null|        null|     Hyundai|               1.0|             -8|                8|            null|              0.0|           null|
+----+--------------------+----+-----------------+---------+------------+----------+----------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
only showing top 20 rows

In [ ]:
df_r.filter(df_r.Power_split.isNull()).show()

+----+--------------------+----+-----------------+---------+------------+----------+----------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
| _c0|                Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|   Mileage|Engine|Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|Mileage_split|Power_split|Engine_split|Company_Name|compane_Name_index|old_of_car_year|year_old_positive|Engine_split_new|Mileage_split_new|Power_split_new|
+----+--------------------+----+-----------------+---------+------------+----------+----------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
| 194|  Honda City 1.5 GXI|2007|            60006|   Petrol|      Manual|     First|  0.0 kmpl|  null| null| null| 2.95|        0.0|       1.0|               0.0|          0.0|       null|        null|       Honda|               2.0|            -13|               13|            null|              0.0|           null|
| 208|Maruti Swift 1.3 VXi|2010|            42001|   Petrol|      Manual|     First| 16.1 kmpl|  null| null| null| 2.11|        0.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|            -10|               10|            null|             16.1|           null|
| 733|Maruti Swift 1.3 VXi|2006|            97800|   Petrol|      Manual|     Third| 16.1 kmpl|  null| null| null| 1.75|        2.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|            -14|               14|            null|             16.1|           null|
| 749|Land Rover Range ...|2008|            55001|   Diesel|   Automatic|    Second|  0.0 kmpl|  null| null| null| 26.5|        1.0|       0.0|               1.0|          0.0|       null|        null|        Land|              15.0|            -12|               12|            null|              0.0|           null|
|1294|   Honda City 1.3 DX|2009|            55005|   Petrol|      Manual|     First| 12.8 kmpl|  null| null| null|  3.2|        0.0|       1.0|               0.0|         12.8|       null|        null|       Honda|               2.0|            -11|               11|            null|             12.8|           null|
|1327|Maruti Swift 1.3 ZXI|2015|            50295|   Petrol|      Manual|     First| 16.1 kmpl|  null| null| null|  5.8|        0.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|             -5|                5|            null|             16.1|           null|
|1385|  Honda City 1.5 GXI|2004|           115000|   Petrol|      Manual|    Second|  0.0 kmpl|  null| null| null|  1.5|        1.0|       1.0|               0.0|          0.0|       null|        null|       Honda|               2.0|            -16|               16|            null|              0.0|           null|
|1460|Land Rover Range ...|2008|            69078|   Petrol|      Manual|     First|  0.0 kmpl|  null| null| null|40.88|        0.0|       1.0|               0.0|          0.0|       null|        null|        Land|              15.0|            -12|               12|            null|              0.0|           null|
|2074|Maruti Swift 1.3 LXI|2011|            24255|   Petrol|      Manual|     First| 16.1 kmpl|  null| null| null| 3.15|        0.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|             -9|                9|            null|             16.1|           null|
|2096|Hyundai Santro LP...|2004|            52146|   Petrol|      Manual|     First|  0.0 kmpl|  null| null| null| 1.93|        0.0|       1.0|               0.0|          0.0|       null|        null|     Hyundai|               1.0|            -16|               16|            null|              0.0|           null|
|2264| Toyota Etios Liva V|2012|            24500|   Petrol|      Manual|    Second| 18.3 kmpl|  null| null| null| 2.95|        1.0|       1.0|               0.0|         18.3|       null|        null|      Toyota|               3.0|             -8|                8|            null|             18.3|           null|
|2325|Maruti Swift 1.3 ...|2015|            67000|   Petrol|      Manual|     First| 16.1 kmpl|  null| null| null|  4.7|        0.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|             -5|                5|            null|             16.1|           null|
|2335|Maruti Swift 1.3 VXi|2007|            55000|   Petrol|      Manual|    Second| 16.1 kmpl|  null| null| null| 1.75|        1.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|            -13|               13|            null|             16.1|           null|
|2530|BMW 5 Series 520d...|2014|            64158|   Diesel|   Automatic|     First|18.48 kmpl|  null| null| null|17.89|        0.0|       0.0|               1.0|        18.48|       null|        null|         BMW|               8.0|             -6|                6|            null|            18.48|           null|
|2542|Hyundai Santro GL...|2011|            65000|   Petrol|      Manual|    Second|  0.0 kmpl|  null| null| null| 3.15|        1.0|       1.0|               0.0|          0.0|       null|        null|     Hyundai|               1.0|             -9|                9|            null|              0.0|           null|
|2623|BMW 5 Series 520d...|2012|            95000|   Diesel|   Automatic|    Second|18.48 kmpl|  null| null| null| 18.0|        1.0|       0.0|               1.0|        18.48|       null|        null|         BMW|               8.0|             -8|                8|            null|            18.48|           null|
|2668|Maruti Swift 1.3 VXi|2014|            32986|   Petrol|      Manual|     First| 16.1 kmpl|  null| null| null| 4.24|        0.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|             -6|                6|            null|             16.1|           null|
|2737|   Maruti Wagon R Vx|2001|           200000|   Petrol|      Manual|     First| 12.0 kmpl|  null| null| null|  0.7|        0.0|       1.0|               0.0|         12.0|       null|        null|      Maruti|               0.0|            -19|               19|            null|             12.0|           null|
|2780|Hyundai Santro GL...|2009|           100000|   Petrol|      Manual|     First|  0.0 kmpl|  null| null| null|  1.6|        0.0|       1.0|               0.0|          0.0|       null|        null|     Hyundai|               1.0|            -11|               11|            null|              0.0|           null|
|2842|Hyundai Santro GL...|2012|            43000|   Petrol|      Manual|     First|  0.0 kmpl|  null| null| null| 3.25|        0.0|       1.0|               0.0|          0.0|       null|        null|     Hyundai|               1.0|             -8|                8|            null|              0.0|           null|
+----+--------------------+----+-----------------+---------+------------+----------+----------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
only showing top 20 rows

In [ ]:
df_r.filter(df_r.Seats.isNull()).show()

+----+--------------------+----+-----------------+---------+------------+----------+----------+-------+--------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
| _c0|                Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|   Mileage| Engine|   Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|Mileage_split|Power_split|Engine_split|Company_Name|compane_Name_index|old_of_car_year|year_old_positive|Engine_split_new|Mileage_split_new|Power_split_new|
+----+--------------------+----+-----------------+---------+------------+----------+----------+-------+--------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
| 194|  Honda City 1.5 GXI|2007|            60006|   Petrol|      Manual|     First|  0.0 kmpl|   null|    null| null| 2.95|        0.0|       1.0|               0.0|          0.0|       null|        null|       Honda|               2.0|            -13|               13|            null|              0.0|           null|
| 208|Maruti Swift 1.3 VXi|2010|            42001|   Petrol|      Manual|     First| 16.1 kmpl|   null|    null| null| 2.11|        0.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|            -10|               10|            null|             16.1|           null|
| 229|    Ford Figo Diesel|2015|            70436|   Diesel|      Manual|     First|  0.0 kmpl|1498 CC|  99 bhp| null|  3.6|        0.0|       0.0|               0.0|          0.0|         99|        1498|        Ford|               6.0|             -5|                5|          1498.0|              0.0|           99.0|
| 733|Maruti Swift 1.3 VXi|2006|            97800|   Petrol|      Manual|     Third| 16.1 kmpl|   null|    null| null| 1.75|        2.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|            -14|               14|            null|             16.1|           null|
| 749|Land Rover Range ...|2008|            55001|   Diesel|   Automatic|    Second|  0.0 kmpl|   null|    null| null| 26.5|        1.0|       0.0|               1.0|          0.0|       null|        null|        Land|              15.0|            -12|               12|            null|              0.0|           null|
|1294|   Honda City 1.3 DX|2009|            55005|   Petrol|      Manual|     First| 12.8 kmpl|   null|    null| null|  3.2|        0.0|       1.0|               0.0|         12.8|       null|        null|       Honda|               2.0|            -11|               11|            null|             12.8|           null|
|1327|Maruti Swift 1.3 ZXI|2015|            50295|   Petrol|      Manual|     First| 16.1 kmpl|   null|    null| null|  5.8|        0.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|             -5|                5|            null|             16.1|           null|
|1385|  Honda City 1.5 GXI|2004|           115000|   Petrol|      Manual|    Second|  0.0 kmpl|   null|    null| null|  1.5|        1.0|       1.0|               0.0|          0.0|       null|        null|       Honda|               2.0|            -16|               16|            null|              0.0|           null|
|1460|Land Rover Range ...|2008|            69078|   Petrol|      Manual|     First|  0.0 kmpl|   null|    null| null|40.88|        0.0|       1.0|               0.0|          0.0|       null|        null|        Land|              15.0|            -12|               12|            null|              0.0|           null|
|1917|  Honda City 1.5 EXI|2005|            88000|   Petrol|      Manual|    Second| 13.0 kmpl|1493 CC| 100 bhp| null|  1.7|        1.0|       1.0|               0.0|         13.0|        100|        1493|       Honda|               2.0|            -15|               15|          1493.0|             13.0|          100.0|
|2074|Maruti Swift 1.3 LXI|2011|            24255|   Petrol|      Manual|     First| 16.1 kmpl|   null|    null| null| 3.15|        0.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|             -9|                9|            null|             16.1|           null|
|2096|Hyundai Santro LP...|2004|            52146|   Petrol|      Manual|     First|  0.0 kmpl|   null|    null| null| 1.93|        0.0|       1.0|               0.0|          0.0|       null|        null|     Hyundai|               1.0|            -16|               16|            null|              0.0|           null|
|2264| Toyota Etios Liva V|2012|            24500|   Petrol|      Manual|    Second| 18.3 kmpl|   null|    null| null| 2.95|        1.0|       1.0|               0.0|         18.3|       null|        null|      Toyota|               3.0|             -8|                8|            null|             18.3|           null|
|2325|Maruti Swift 1.3 ...|2015|            67000|   Petrol|      Manual|     First| 16.1 kmpl|   null|    null| null|  4.7|        0.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|             -5|                5|            null|             16.1|           null|
|2335|Maruti Swift 1.3 VXi|2007|            55000|   Petrol|      Manual|    Second| 16.1 kmpl|   null|    null| null| 1.75|        1.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|            -13|               13|            null|             16.1|           null|
|2369|   Maruti Estilo LXI|2008|            56000|   Petrol|      Manual|    Second| 19.5 kmpl|1061 CC|null bhp| null|  1.5|        1.0|       1.0|               0.0|         19.5|       null|        1061|      Maruti|               0.0|            -12|               12|          1061.0|             19.5|           null|
|2530|BMW 5 Series 520d...|2014|            64158|   Diesel|   Automatic|     First|18.48 kmpl|   null|    null| null|17.89|        0.0|       0.0|               1.0|        18.48|       null|        null|         BMW|               8.0|             -6|                6|            null|            18.48|           null|
|2542|Hyundai Santro GL...|2011|            65000|   Petrol|      Manual|    Second|  0.0 kmpl|   null|    null| null| 3.15|        1.0|       1.0|               0.0|          0.0|       null|        null|     Hyundai|               1.0|             -9|                9|            null|              0.0|           null|
|2623|BMW 5 Series 520d...|2012|            95000|   Diesel|   Automatic|    Second|18.48 kmpl|   null|    null| null| 18.0|        1.0|       0.0|               1.0|        18.48|       null|        null|         BMW|               8.0|             -8|                8|            null|            18.48|           null|
|2668|Maruti Swift 1.3 VXi|2014|            32986|   Petrol|      Manual|     First| 16.1 kmpl|   null|    null| null| 4.24|        0.0|       1.0|               0.0|         16.1|       null|        null|      Maruti|               0.0|             -6|                6|            null|             16.1|           null|
+----+--------------------+----+-----------------+---------+------------+----------+----------+-------+--------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
only showing top 20 rows

In [ ]:
df_r.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Kilometers_Driven: integer (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner_Type: string (nullable = true)
 |-- Mileage: string (nullable = true)
 |-- Engine: string (nullable = true)
 |-- Power: string (nullable = true)
 |-- Seats: double (nullable = true)
 |-- Price: double (nullable = true)
 |-- Owner_index: double (nullable = false)
 |-- Fuel_index: double (nullable = false)
 |-- Transmission_index: double (nullable = false)
 |-- Mileage_split: string (nullable = true)
 |-- Power_split: string (nullable = true)
 |-- Engine_split: string (nullable = true)
 |-- Company_Name: string (nullable = true)
 |-- compane_Name_index: double (nullable = false)
 |-- old_of_car_year: integer (nullable = true)
 |-- year_old_positive: integer (nullable = true)
 |-- Engine_split_new: double (nullable = true)
 |-- Mileage_split_new: double (nullable = true)
 |-- Power_split_new: double (nullable = true)

In [ ]:
fill_values = {column: df_r.agg({column:"mean"}).first()[0] for column in df_r.columns if column in ['Seats','Power_split_new','Mileage_split_new','Engine_split_new']}
df_r = df_r.na.fill(fill_values)

In [ ]:
df_r.filter(df_r.Seats.isNull()).show()

+---+----+----+-----------------+---------+------------+----------+-------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
|_c0|Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|Mileage|Engine|Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|Mileage_split|Power_split|Engine_split|Company_Name|compane_Name_index|old_of_car_year|year_old_positive|Engine_split_new|Mileage_split_new|Power_split_new|
+---+----+----+-----------------+---------+------------+----------+-------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
+---+----+----+-----------------+---------+------------+----------+-------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+

In [ ]:
df_r.filter(df_r.Power_split_new.isNull()).show()

+---+----+----+-----------------+---------+------------+----------+-------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
|_c0|Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|Mileage|Engine|Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|Mileage_split|Power_split|Engine_split|Company_Name|compane_Name_index|old_of_car_year|year_old_positive|Engine_split_new|Mileage_split_new|Power_split_new|
+---+----+----+-----------------+---------+------------+----------+-------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
+---+----+----+-----------------+---------+------------+----------+-------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+

In [ ]:
df_r.filter(df_r.Engine_split_new.isNull()).show()

+---+----+----+-----------------+---------+------------+----------+-------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
|_c0|Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|Mileage|Engine|Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|Mileage_split|Power_split|Engine_split|Company_Name|compane_Name_index|old_of_car_year|year_old_positive|Engine_split_new|Mileage_split_new|Power_split_new|
+---+----+----+-----------------+---------+------------+----------+-------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
+---+----+----+-----------------+---------+------------+----------+-------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+

In [ ]:
df_r.filter(df_r.Mileage_split_new.isNull()).show()

+---+----+----+-----------------+---------+------------+----------+-------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
|_c0|Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|Mileage|Engine|Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|Mileage_split|Power_split|Engine_split|Company_Name|compane_Name_index|old_of_car_year|year_old_positive|Engine_split_new|Mileage_split_new|Power_split_new|
+---+----+----+-----------------+---------+------------+----------+-------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+
+---+----+----+-----------------+---------+------------+----------+-------+------+-----+-----+-----+-----------+----------+------------------+-------------+-----------+------------+------------+------------------+---------------+-----------------+----------------+-----------------+---------------+

In [ ]:
df_r.groupBy("Company_Name").count().show()

+-------------+-----+
| Company_Name|count|
+-------------+-----+
|       Maruti| 1211|
|   Volkswagen|  315|
|       Jaguar|   40|
|         Tata|  186|
|         Jeep|   15|
|   Mitsubishi|   27|
|         Mini|   26|
|    Chevrolet|  121|
|        Volvo|   21|
|      Hyundai| 1107|
|        Honda|  608|
|        ISUZU|    2|
|         Audi|  236|
|   Ambassador|    1|
|  Lamborghini|    1|
|        Isuzu|    1|
|         Land|   60|
|Mercedes-Benz|  318|
|      Renault|  145|
|     Mahindra|  272|
+-------------+-----+
only showing top 20 rows

In [ ]:
indexer_new=StringIndexer(inputCol="Company_Name",outputCol="compane_Name_index")
df_r=indexer_new.fit(df_r).transform(df_r)
df_r.show()

+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+-------------+------------------+
|_c0|                Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|   Mileage| Engine|     Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|Mileage_split|Power_split|Engine_split| Company_Name|compane_Name_index|
+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+-------------+------------------+
|  0|Maruti Wagon R LX...|2010|            72000|      CNG|      Manual|     First|26.6 km/kg| 998 CC| 58.16 bhp|  5.0| 1.75|        0.0|       2.0|               0.0|         26.6|      58.16|         998|       Maruti|               0.0|
|  1|Hyundai Creta 1.6...|2015|            41000|   Diesel|      Manual|     First|19.67 kmpl|1582 CC| 126.2 bhp|  5.0| 12.5|        0.0|       0.0|               0.0|        19.67|      126.2|        1582|      Hyundai|               1.0|
|  2|        Honda Jazz V|2011|            46000|   Petrol|      Manual|     First| 18.2 kmpl|1199 CC|  88.7 bhp|  5.0|  4.5|        0.0|       1.0|               0.0|         18.2|       88.7|        1199|        Honda|               2.0|
|  3|   Maruti Ertiga VDI|2012|            87000|   Diesel|      Manual|     First|20.77 kmpl|1248 CC| 88.76 bhp|  7.0|  6.0|        0.0|       0.0|               0.0|        20.77|      88.76|        1248|       Maruti|               0.0|
|  4|Audi A4 New 2.0 T...|2013|            40670|   Diesel|   Automatic|    Second| 15.2 kmpl|1968 CC| 140.8 bhp|  5.0|17.74|        1.0|       0.0|               1.0|         15.2|      140.8|        1968|         Audi|               9.0|
|  5|Hyundai EON LPG E...|2012|            75000|      LPG|      Manual|     First|21.1 km/kg| 814 CC|  55.2 bhp|  5.0| 2.35|        0.0|       3.0|               0.0|         21.1|       55.2|         814|      Hyundai|               1.0|
|  6|Nissan Micra Dies...|2013|            86999|   Diesel|      Manual|     First|23.08 kmpl|1461 CC|  63.1 bhp|  5.0|  3.5|        0.0|       0.0|               0.0|        23.08|       63.1|        1461|       Nissan|              14.0|
|  7|Toyota Innova Cry...|2016|            36000|   Diesel|   Automatic|     First|11.36 kmpl|2755 CC| 171.5 bhp|  8.0| 17.5|        0.0|       0.0|               1.0|        11.36|      171.5|        2755|       Toyota|               3.0|
|  8|Volkswagen Vento ...|2013|            64430|   Diesel|      Manual|     First|20.54 kmpl|1598 CC| 103.6 bhp|  5.0|  5.2|        0.0|       0.0|               0.0|        20.54|      103.6|        1598|   Volkswagen|               5.0|
|  9|Tata Indica Vista...|2012|            65932|   Diesel|      Manual|    Second| 22.3 kmpl|1248 CC|    74 bhp|  5.0| 1.95|        1.0|       0.0|               0.0|         22.3|         74|        1248|         Tata|              10.0|
| 10|    Maruti Ciaz Zeta|2018|            25692|   Petrol|      Manual|     First|21.56 kmpl|1462 CC|103.25 bhp|  5.0| 9.95|        0.0|       1.0|               0.0|        21.56|     103.25|        1462|       Maruti|               0.0|
| 11|Honda City 1.5 V ...|2012|            60000|   Petrol|   Automatic|     First| 16.8 kmpl|1497 CC| 116.3 bhp|  5.0| 4.49|        0.0|       1.0|               1.0|         16.8|      116.3|        1497|        Honda|               2.0|
| 12|Maruti Swift VDI ...|2015|            64424|   Diesel|      Manual|     First| 25.2 kmpl|1248 CC|    74 bhp|  5.0|  5.6|        0.0|       0.0|               0.0|         25.2|         74|        1248|       Maruti|               0.0|
| 13|Land Rover Range ...|2014|            72000|   Diesel|   Automatic|     First| 12.7 kmpl|2179 CC| 187.7 bhp|  5.0| 27.0|        0.0|       0.0|               1.0|         12.7|      187.7|        2179|         Land|              15.0|
| 14|Land Rover Freela...|2012|            85000|   Diesel|   Automatic|    Second|  0.0 kmpl|2179 CC|   115 bhp|  5.0| 17.5|        1.0|       0.0|               1.0|          0.0|        115|        2179|         Land|              15.0|
| 15|Mitsubishi Pajero...|2014|           110000|   Diesel|      Manual|     First| 13.5 kmpl|2477 CC|175.56 bhp|  7.0| 15.0|        0.0|       0.0|               0.0|         13.5|     175.56|        2477|   Mitsubishi|              18.0|
| 16|Honda Amaze S i-D...|2016|            58950|   Diesel|      Manual|     First| 25.8 kmpl|1498 CC|  98.6 bhp|  5.0|  5.4|        0.0|       0.0|               0.0|         25.8|       98.6|        1498|        Honda|               2.0|
| 17|Maruti Swift DDiS...|2017|            25000|   Diesel|      Manual|     First| 28.4 kmpl|1248 CC|    74 bhp|  5.0| 5.99|        0.0|       0.0|               0.0|         28.4|         74|        1248|       Maruti|               0.0|
| 18|Renault Duster 85...|2014|            77469|   Diesel|      Manual|     First|20.45 kmpl|1461 CC|  83.8 bhp|  5.0| 6.34|        0.0|       0.0|               0.0|        20.45|       83.8|        1461|      Renault|              12.0|
| 19|Mercedes-Benz New...|2014|            78500|   Diesel|   Automatic|     First|14.84 kmpl|2143 CC|167.62 bhp|  5.0| 28.0|        0.0|       0.0|               1.0|        14.84|     167.62|        2143|Mercedes-Benz|               4.0|
+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+-------------+------------------+
only showing top 20 rows

In [ ]:
df_r=df_r.withColumn("old_of_car_year", df_r.Year-2020)

In [ ]:
df_r.show()

+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+-------------+------------------+---------------+
|_c0|                Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|   Mileage| Engine|     Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|Mileage_split|Power_split|Engine_split| Company_Name|compane_Name_index|old_of_car_year|
+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+-------------+------------------+---------------+
|  0|Maruti Wagon R LX...|2010|            72000|      CNG|      Manual|     First|26.6 km/kg| 998 CC| 58.16 bhp|  5.0| 1.75|        0.0|       2.0|               0.0|         26.6|      58.16|         998|       Maruti|               0.0|            -10|
|  1|Hyundai Creta 1.6...|2015|            41000|   Diesel|      Manual|     First|19.67 kmpl|1582 CC| 126.2 bhp|  5.0| 12.5|        0.0|       0.0|               0.0|        19.67|      126.2|        1582|      Hyundai|               1.0|             -5|
|  2|        Honda Jazz V|2011|            46000|   Petrol|      Manual|     First| 18.2 kmpl|1199 CC|  88.7 bhp|  5.0|  4.5|        0.0|       1.0|               0.0|         18.2|       88.7|        1199|        Honda|               2.0|             -9|
|  3|   Maruti Ertiga VDI|2012|            87000|   Diesel|      Manual|     First|20.77 kmpl|1248 CC| 88.76 bhp|  7.0|  6.0|        0.0|       0.0|               0.0|        20.77|      88.76|        1248|       Maruti|               0.0|             -8|
|  4|Audi A4 New 2.0 T...|2013|            40670|   Diesel|   Automatic|    Second| 15.2 kmpl|1968 CC| 140.8 bhp|  5.0|17.74|        1.0|       0.0|               1.0|         15.2|      140.8|        1968|         Audi|               9.0|             -7|
|  5|Hyundai EON LPG E...|2012|            75000|      LPG|      Manual|     First|21.1 km/kg| 814 CC|  55.2 bhp|  5.0| 2.35|        0.0|       3.0|               0.0|         21.1|       55.2|         814|      Hyundai|               1.0|             -8|
|  6|Nissan Micra Dies...|2013|            86999|   Diesel|      Manual|     First|23.08 kmpl|1461 CC|  63.1 bhp|  5.0|  3.5|        0.0|       0.0|               0.0|        23.08|       63.1|        1461|       Nissan|              14.0|             -7|
|  7|Toyota Innova Cry...|2016|            36000|   Diesel|   Automatic|     First|11.36 kmpl|2755 CC| 171.5 bhp|  8.0| 17.5|        0.0|       0.0|               1.0|        11.36|      171.5|        2755|       Toyota|               3.0|             -4|
|  8|Volkswagen Vento ...|2013|            64430|   Diesel|      Manual|     First|20.54 kmpl|1598 CC| 103.6 bhp|  5.0|  5.2|        0.0|       0.0|               0.0|        20.54|      103.6|        1598|   Volkswagen|               5.0|             -7|
|  9|Tata Indica Vista...|2012|            65932|   Diesel|      Manual|    Second| 22.3 kmpl|1248 CC|    74 bhp|  5.0| 1.95|        1.0|       0.0|               0.0|         22.3|         74|        1248|         Tata|              10.0|             -8|
| 10|    Maruti Ciaz Zeta|2018|            25692|   Petrol|      Manual|     First|21.56 kmpl|1462 CC|103.25 bhp|  5.0| 9.95|        0.0|       1.0|               0.0|        21.56|     103.25|        1462|       Maruti|               0.0|             -2|
| 11|Honda City 1.5 V ...|2012|            60000|   Petrol|   Automatic|     First| 16.8 kmpl|1497 CC| 116.3 bhp|  5.0| 4.49|        0.0|       1.0|               1.0|         16.8|      116.3|        1497|        Honda|               2.0|             -8|
| 12|Maruti Swift VDI ...|2015|            64424|   Diesel|      Manual|     First| 25.2 kmpl|1248 CC|    74 bhp|  5.0|  5.6|        0.0|       0.0|               0.0|         25.2|         74|        1248|       Maruti|               0.0|             -5|
| 13|Land Rover Range ...|2014|            72000|   Diesel|   Automatic|     First| 12.7 kmpl|2179 CC| 187.7 bhp|  5.0| 27.0|        0.0|       0.0|               1.0|         12.7|      187.7|        2179|         Land|              15.0|             -6|
| 14|Land Rover Freela...|2012|            85000|   Diesel|   Automatic|    Second|  0.0 kmpl|2179 CC|   115 bhp|  5.0| 17.5|        1.0|       0.0|               1.0|          0.0|        115|        2179|         Land|              15.0|             -8|
| 15|Mitsubishi Pajero...|2014|           110000|   Diesel|      Manual|     First| 13.5 kmpl|2477 CC|175.56 bhp|  7.0| 15.0|        0.0|       0.0|               0.0|         13.5|     175.56|        2477|   Mitsubishi|              18.0|             -6|
| 16|Honda Amaze S i-D...|2016|            58950|   Diesel|      Manual|     First| 25.8 kmpl|1498 CC|  98.6 bhp|  5.0|  5.4|        0.0|       0.0|               0.0|         25.8|       98.6|        1498|        Honda|               2.0|             -4|
| 17|Maruti Swift DDiS...|2017|            25000|   Diesel|      Manual|     First| 28.4 kmpl|1248 CC|    74 bhp|  5.0| 5.99|        0.0|       0.0|               0.0|         28.4|         74|        1248|       Maruti|               0.0|             -3|
| 18|Renault Duster 85...|2014|            77469|   Diesel|      Manual|     First|20.45 kmpl|1461 CC|  83.8 bhp|  5.0| 6.34|        0.0|       0.0|               0.0|        20.45|       83.8|        1461|      Renault|              12.0|             -6|
| 19|Mercedes-Benz New...|2014|            78500|   Diesel|   Automatic|     First|14.84 kmpl|2143 CC|167.62 bhp|  5.0| 28.0|        0.0|       0.0|               1.0|        14.84|     167.62|        2143|Mercedes-Benz|               4.0|             -6|
+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+-------------+------------------+---------------+
only showing top 20 rows

In [ ]:
df_r=df_r.withColumn('year_old_positive', - df_r['old_of_car_year'])

In [ ]:
df_r.show()

+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+-------------+------------------+---------------+-----------------+
|_c0|                Name|Year|Kilometers_Driven|Fuel_Type|Transmission|Owner_Type|   Mileage| Engine|     Power|Seats|Price|Owner_index|Fuel_index|Transmission_index|Mileage_split|Power_split|Engine_split| Company_Name|compane_Name_index|old_of_car_year|year_old_positive|
+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+-------------+------------------+---------------+-----------------+
|  0|Maruti Wagon R LX...|2010|            72000|      CNG|      Manual|     First|26.6 km/kg| 998 CC| 58.16 bhp|  5.0| 1.75|        0.0|       2.0|               0.0|         26.6|      58.16|         998|       Maruti|               0.0|            -10|               10|
|  1|Hyundai Creta 1.6...|2015|            41000|   Diesel|      Manual|     First|19.67 kmpl|1582 CC| 126.2 bhp|  5.0| 12.5|        0.0|       0.0|               0.0|        19.67|      126.2|        1582|      Hyundai|               1.0|             -5|                5|
|  2|        Honda Jazz V|2011|            46000|   Petrol|      Manual|     First| 18.2 kmpl|1199 CC|  88.7 bhp|  5.0|  4.5|        0.0|       1.0|               0.0|         18.2|       88.7|        1199|        Honda|               2.0|             -9|                9|
|  3|   Maruti Ertiga VDI|2012|            87000|   Diesel|      Manual|     First|20.77 kmpl|1248 CC| 88.76 bhp|  7.0|  6.0|        0.0|       0.0|               0.0|        20.77|      88.76|        1248|       Maruti|               0.0|             -8|                8|
|  4|Audi A4 New 2.0 T...|2013|            40670|   Diesel|   Automatic|    Second| 15.2 kmpl|1968 CC| 140.8 bhp|  5.0|17.74|        1.0|       0.0|               1.0|         15.2|      140.8|        1968|         Audi|               9.0|             -7|                7|
|  5|Hyundai EON LPG E...|2012|            75000|      LPG|      Manual|     First|21.1 km/kg| 814 CC|  55.2 bhp|  5.0| 2.35|        0.0|       3.0|               0.0|         21.1|       55.2|         814|      Hyundai|               1.0|             -8|                8|
|  6|Nissan Micra Dies...|2013|            86999|   Diesel|      Manual|     First|23.08 kmpl|1461 CC|  63.1 bhp|  5.0|  3.5|        0.0|       0.0|               0.0|        23.08|       63.1|        1461|       Nissan|              14.0|             -7|                7|
|  7|Toyota Innova Cry...|2016|            36000|   Diesel|   Automatic|     First|11.36 kmpl|2755 CC| 171.5 bhp|  8.0| 17.5|        0.0|       0.0|               1.0|        11.36|      171.5|        2755|       Toyota|               3.0|             -4|                4|
|  8|Volkswagen Vento ...|2013|            64430|   Diesel|      Manual|     First|20.54 kmpl|1598 CC| 103.6 bhp|  5.0|  5.2|        0.0|       0.0|               0.0|        20.54|      103.6|        1598|   Volkswagen|               5.0|             -7|                7|
|  9|Tata Indica Vista...|2012|            65932|   Diesel|      Manual|    Second| 22.3 kmpl|1248 CC|    74 bhp|  5.0| 1.95|        1.0|       0.0|               0.0|         22.3|         74|        1248|         Tata|              10.0|             -8|                8|
| 10|    Maruti Ciaz Zeta|2018|            25692|   Petrol|      Manual|     First|21.56 kmpl|1462 CC|103.25 bhp|  5.0| 9.95|        0.0|       1.0|               0.0|        21.56|     103.25|        1462|       Maruti|               0.0|             -2|                2|
| 11|Honda City 1.5 V ...|2012|            60000|   Petrol|   Automatic|     First| 16.8 kmpl|1497 CC| 116.3 bhp|  5.0| 4.49|        0.0|       1.0|               1.0|         16.8|      116.3|        1497|        Honda|               2.0|             -8|                8|
| 12|Maruti Swift VDI ...|2015|            64424|   Diesel|      Manual|     First| 25.2 kmpl|1248 CC|    74 bhp|  5.0|  5.6|        0.0|       0.0|               0.0|         25.2|         74|        1248|       Maruti|               0.0|             -5|                5|
| 13|Land Rover Range ...|2014|            72000|   Diesel|   Automatic|     First| 12.7 kmpl|2179 CC| 187.7 bhp|  5.0| 27.0|        0.0|       0.0|               1.0|         12.7|      187.7|        2179|         Land|              15.0|             -6|                6|
| 14|Land Rover Freela...|2012|            85000|   Diesel|   Automatic|    Second|  0.0 kmpl|2179 CC|   115 bhp|  5.0| 17.5|        1.0|       0.0|               1.0|          0.0|        115|        2179|         Land|              15.0|             -8|                8|
| 15|Mitsubishi Pajero...|2014|           110000|   Diesel|      Manual|     First| 13.5 kmpl|2477 CC|175.56 bhp|  7.0| 15.0|        0.0|       0.0|               0.0|         13.5|     175.56|        2477|   Mitsubishi|              18.0|             -6|                6|
| 16|Honda Amaze S i-D...|2016|            58950|   Diesel|      Manual|     First| 25.8 kmpl|1498 CC|  98.6 bhp|  5.0|  5.4|        0.0|       0.0|               0.0|         25.8|       98.6|        1498|        Honda|               2.0|             -4|                4|
| 17|Maruti Swift DDiS...|2017|            25000|   Diesel|      Manual|     First| 28.4 kmpl|1248 CC|    74 bhp|  5.0| 5.99|        0.0|       0.0|               0.0|         28.4|         74|        1248|       Maruti|               0.0|             -3|                3|
| 18|Renault Duster 85...|2014|            77469|   Diesel|      Manual|     First|20.45 kmpl|1461 CC|  83.8 bhp|  5.0| 6.34|        0.0|       0.0|               0.0|        20.45|       83.8|        1461|      Renault|              12.0|             -6|                6|
| 19|Mercedes-Benz New...|2014|            78500|   Diesel|   Automatic|     First|14.84 kmpl|2143 CC|167.62 bhp|  5.0| 28.0|        0.0|       0.0|               1.0|        14.84|     167.62|        2143|Mercedes-Benz|               4.0|             -6|                6|
+---+--------------------+----+-----------------+---------+------------+----------+----------+-------+----------+-----+-----+-----------+----------+------------------+-------------+-----------+------------+-------------+------------------+---------------+-----------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
df_r.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Kilometers_Driven: integer (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner_Type: string (nullable = true)
 |-- Mileage: string (nullable = true)
 |-- Engine: string (nullable = true)
 |-- Power: string (nullable = true)
 |-- Seats: double (nullable = true)
 |-- Price: double (nullable = true)
 |-- Owner_index: double (nullable = false)
 |-- Fuel_index: double (nullable = false)
 |-- Transmission_index: double (nullable = false)
 |-- Mileage_split: string (nullable = true)
 |-- Power_split: string (nullable = true)
 |-- Engine_split: string (nullable = true)
 |-- Company_Name: string (nullable = true)
 |-- compane_Name_index: double (nullable = false)
 |-- old_of_car_year: integer (nullable = true)
 |-- year_old_positive: integer (nullable = true)

In [ ]:
df_r=df_r.withColumn("Engine_split_new",df_r.Engine_split.cast('double'))

In [ ]:
df_r=df_r.withColumn("Mileage_split_new",df_r.Mileage_split.cast('double'))
df_r=df_r.withColumn("Power_split_new",df_r.Power_split.cast('double'))

In [ ]:
df_r.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Kilometers_Driven: integer (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner_Type: string (nullable = true)
 |-- Mileage: string (nullable = true)
 |-- Engine: string (nullable = true)
 |-- Power: string (nullable = true)
 |-- Seats: double (nullable = true)
 |-- Price: double (nullable = true)
 |-- Owner_index: double (nullable = false)
 |-- Fuel_index: double (nullable = false)
 |-- Transmission_index: double (nullable = false)
 |-- Mileage_split: string (nullable = true)
 |-- Power_split: string (nullable = true)
 |-- Engine_split: string (nullable = true)
 |-- Company_Name: string (nullable = true)
 |-- compane_Name_index: double (nullable = false)
 |-- old_of_car_year: integer (nullable = true)
 |-- year_old_positive: integer (nullable = true)
 |-- Engine_split_new: double (nullable = true)
 |-- Mileage_split_new: double (nullable = true)
 |-- Power_split_new: double (nullable = true)

In [ ]:
featureassembler=VectorAssembler(inputCols=["year_old_positive","Engine_split_new","Power_split_new","Mileage_split_new","Transmission_index","Fuel_index","Owner_index","Seats","Kilometers_Driven"],outputCol="Independent Features")

In [ ]:
output=featureassembler.transform(df_r)

In [ ]:
output.select("Independent Features").show()

+--------------------+
|Independent Features|
+--------------------+
|[10.0,998.0,58.16...|
|[5.0,1582.0,126.2...|
|[9.0,1199.0,88.7,...|
|[8.0,1248.0,88.76...|
|[7.0,1968.0,140.8...|
|[8.0,814.0,55.2,2...|
|[7.0,1461.0,63.1,...|
|[4.0,2755.0,171.5...|
|[7.0,1598.0,103.6...|
|[8.0,1248.0,74.0,...|
|[2.0,1462.0,103.2...|
|[8.0,1497.0,116.3...|
|[5.0,1248.0,74.0,...|
|[6.0,2179.0,187.7...|
|[8.0,2179.0,115.0...|
|[6.0,2477.0,175.5...|
|[4.0,1498.0,98.6,...|
|[3.0,1248.0,74.0,...|
|[6.0,1461.0,83.8,...|
|[6.0,2143.0,167.6...|
+--------------------+
only showing top 20 rows

In [ ]:
finalized_data=output.select("Independent Features","Price")

In [ ]:
finalized_data.show()

+--------------------+-----+
|Independent Features|Price|
+--------------------+-----+
|[10.0,998.0,58.16...| 1.75|
|[5.0,1582.0,126.2...| 12.5|
|[9.0,1199.0,88.7,...|  4.5|
|[8.0,1248.0,88.76...|  6.0|
|[7.0,1968.0,140.8...|17.74|
|[8.0,814.0,55.2,2...| 2.35|
|[7.0,1461.0,63.1,...|  3.5|
|[4.0,2755.0,171.5...| 17.5|
|[7.0,1598.0,103.6...|  5.2|
|[8.0,1248.0,74.0,...| 1.95|
|[2.0,1462.0,103.2...| 9.95|
|[8.0,1497.0,116.3...| 4.49|
|[5.0,1248.0,74.0,...|  5.6|
|[6.0,2179.0,187.7...| 27.0|
|[8.0,2179.0,115.0...| 17.5|
|[6.0,2477.0,175.5...| 15.0|
|[4.0,1498.0,98.6,...|  5.4|
|[3.0,1248.0,74.0,...| 5.99|
|[6.0,1461.0,83.8,...| 6.34|
|[6.0,2143.0,167.6...| 28.0|
+--------------------+-----+
only showing top 20 rows

In [ ]:
from pyspark.ml.regression import LinearRegression

In [ ]:
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features',labelCol='Price')

In [ ]:
regressor=regressor.fit(train_data)

In [ ]:
# from pyspark.ml.regression import LinearRegression
# lr = LinearRegression(featuresCol = 'Independent Features', labelCol='Price', maxIter=10, regParam=0.3, elasticNetParam=0.8)
# lr_model = lr.fit(train_df)
# print("Coefficients: " + str(lr_model.coefficients))
# print("Intercept: " + str(lr_model.intercept))

In [ ]:
regressor.intercept

7.338266318441497

In [ ]:
pred_result=regressor.evaluate(test_data)

In [ ]:
pred_result.predictions.show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+--------------------+-----+-------------------+
|Independent Features|Price|         prediction|
+--------------------+-----+-------------------+
|[1.0,796.0,34.2,1...|  3.8|-0.2818517982172599|
|[1.0,1196.0,73.0,...| 5.38|   6.88624513517602|
|[1.0,1197.0,81.8,...| 7.36| 11.609318505783936|
|[1.0,1197.0,81.8,...|  8.3| 11.490040139189597|
|[1.0,1197.0,81.83...| 6.27|  9.208740046787621|
|[1.0,1197.0,81.86...|  6.5|   9.11941937444197|
|[1.0,1198.0,86.7,...| 9.31|  9.870792671288878|
|[1.0,1199.0,84.0,...| 5.85|  8.846159728173802|
|[1.0,1199.0,84.0,...| 6.94|  8.855039854479582|
|[1.0,1199.0,88.76...| 8.86| 12.725096921184047|
|[1.0,1248.0,88.5,...|10.49| 11.100412669779375|
|[1.0,1461.0,108.4...|13.37|  14.31316103055078|
|[1.0,1498.0,98.96...|11.65| 12.913875019583557|
|[1.0,1591.0,121.3...|11.88| 14.814420893760076|
|[1.0,1591.0,121.3...|11.54| 14.799309243274006|
|[1.0,1798.0,177.4...| 27.3| 24.976972250211237|
|[1.0,1950.0,181.4...|38.99| 27.408730409965052|
|[1.0,1968.0,174.3...|32.91| 26.291663583585162|
|[1.0,1995.0,190.0...| 6.67|  27.70329384698806|
|[1.0,1999.0,148.3...|56.14|  21.51022198737473|
+--------------------+-----+-------------------+
only showing top 20 rows

In [ ]:
trainingSummary = regressor.summary
print("RMSE: %f" % trainingSummary.rootMeanSquaredError)
print("r2: %f" % trainingSummary.r2)

RMSE: 6.139954
r2: 0.691266

In [ ]:

print("Root Mean Squared Error (RMSE) on test data = %g" % pred_result.rootMeanSquaredError)

Root Mean Squared Error (RMSE) on test data = 6.40207

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 51.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=30b0101c2fa0a13392294ad27a026dd589f7842370b07d2bb8abb6edb8ef7a3d
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('nlp').getOrCreate()

In [ ]:
data = spark.read.csv("spam_final.csv",header=True,inferSchema=True)
data.show()

+-----+--------------------+----+----+----+
|Class|                Text| _c2| _c3| _c4|
+-----+--------------------+----+----+----+
|  ham|Go until jurong p...|null|null|null|
|  ham|Ok lar... Joking ...|null|null|null|
| spam|Free entry in 2 a...|null|null|null|
|  ham|U dun say so earl...|null|null|null|
|  ham|Nah I don't think...|null|null|null|
| spam|FreeMsg Hey there...|null|null|null|
|  ham|Even my brother i...|null|null|null|
|  ham|As per your reque...|null|null|null|
| spam|WINNER!! As a val...|null|null|null|
| spam|Had your mobile 1...|null|null|null|
|  ham|I'm gonna be home...|null|null|null|
| spam|SIX chances to wi...|null|null|null|
| spam|URGENT! You have ...|null|null|null|
|  ham|I've been searchi...|null|null|null|
|  ham|I HAVE A DATE ON ...|null|null|null|
| spam|XXXMobileMovieClu...|null|null|null|
|  ham|Oh k...i'm watchi...|null|null|null|
|  ham|Eh u remember how...|null|null|null|
|  ham|Fine if that?s th...|null|null|null|
| spam|England v Macedon...|null|null|null|
+-----+--------------------+----+----+----+
only showing top 20 rows

In [ ]:
data=data.drop("_c2")

In [ ]:
data=data.drop("_c3")

In [ ]:
data=data.drop("_c4")

In [ ]:
data.show()

+-----+--------------------+
|Class|                Text|
+-----+--------------------+
|  ham|Go until jurong p...|
|  ham|Ok lar... Joking ...|
| spam|Free entry in 2 a...|
|  ham|U dun say so earl...|
|  ham|Nah I don't think...|
| spam|FreeMsg Hey there...|
|  ham|Even my brother i...|
|  ham|As per your reque...|
| spam|WINNER!! As a val...|
| spam|Had your mobile 1...|
|  ham|I'm gonna be home...|
| spam|SIX chances to wi...|
| spam|URGENT! You have ...|
|  ham|I've been searchi...|
|  ham|I HAVE A DATE ON ...|
| spam|XXXMobileMovieClu...|
|  ham|Oh k...i'm watchi...|
|  ham|Eh u remember how...|
|  ham|Fine if that?s th...|
| spam|England v Macedon...|
+-----+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import length
data = data.withColumn('length',length(data['Text']))
data.show()

+-----+--------------------+------+
|Class|                Text|length|
+-----+--------------------+------+
|  ham|Go until jurong p...|   111|
|  ham|Ok lar... Joking ...|    29|
| spam|Free entry in 2 a...|   155|
|  ham|U dun say so earl...|    49|
|  ham|Nah I don't think...|    61|
| spam|FreeMsg Hey there...|   147|
|  ham|Even my brother i...|    77|
|  ham|As per your reque...|   160|
| spam|WINNER!! As a val...|   157|
| spam|Had your mobile 1...|   154|
|  ham|I'm gonna be home...|   109|
| spam|SIX chances to wi...|   136|
| spam|URGENT! You have ...|   155|
|  ham|I've been searchi...|   196|
|  ham|I HAVE A DATE ON ...|    35|
| spam|XXXMobileMovieClu...|   149|
|  ham|Oh k...i'm watchi...|    26|
|  ham|Eh u remember how...|    81|
|  ham|Fine if that?s th...|    56|
| spam|England v Macedon...|   156|
+-----+--------------------+------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import Tokenizer,StopWordsRemover, CountVectorizer,IDF,StringIndexer
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vector
tokenizer = Tokenizer(inputCol="Text", outputCol="token_text")
stopremove = StopWordsRemover(inputCol='token_text',outputCol='stop_tokens')
count_vec = CountVectorizer(inputCol='stop_tokens',outputCol='c_vec')
idf = IDF(inputCol="c_vec", outputCol="tf_idf")
ham_spam_to_num = StringIndexer(inputCol='Class',outputCol='label')
clean_up = VectorAssembler(inputCols=['tf_idf','length'],outputCol='features')

In [ ]:
from pyspark.ml.classification import NaiveBayes
# Use defaults
nb = NaiveBayes()

In [ ]:
from pyspark.ml import Pipeline

In [ ]:
data_prep_pipe=Pipeline(stages=[ham_spam_to_num,tokenizer,stopremove,count_vec,idf,clean_up])

In [ ]:
cleaner = data_prep_pipe.fit(data)
clean_data = cleaner.transform(data)

In [ ]:
(training,testing) = clean_data.randomSplit([0.7,0.3])
spam_predictor = nb.fit(training)
test_results = spam_predictor.transform(testing)
test_results.show()

+-----+--------------------+------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|Class|                Text|length|label|          token_text|         stop_tokens|               c_vec|              tf_idf|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|  ham| &lt;#&gt;  in mc...|    36|  0.0|[, &lt;#&gt;, , i...|[, &lt;#&gt;, , m...|(13338,[3,6,5108,...|(13338,[3,6,5108,...|(13339,[3,6,5108,...|[-278.88317039141...|[1.0,3.2307180936...|       0.0|
|  ham| &lt;#&gt;  mins ...|    51|  0.0|[, &lt;#&gt;, , m...|[, &lt;#&gt;, , m...|(13338,[3,6,40,20...|(13338,[3,6,40,20...|(13339,[3,6,40,20...|[-324.18582400325...|[1.0,1.8834700740...|       0.0|
|  ham| says that he's q...|   200|  0.0|[, says, that, he...|[, says, quitting...|(13338,[0,3,14,18...|(13338,[0,3,14,18...|(13339,[0,3,14,18...|[-1218.6575170660...|[1.0,6.6089876417...|       0.0|
|  ham|"Edison has right...|   145|  0.0|["edison, has, ri...|["edison, rightly...|(13338,[12,62,129...|(13338,[12,62,129...|(13339,[12,62,129...|[-1035.2890961887...|[1.0,4.2285879618...|       0.0|
|  ham|"Happy or sad , o...|    79|  0.0|["happy, or, sad,...|["happy, sad, ,, ...|(13338,[15,28,152...|(13338,[15,28,152...|(13339,[15,28,152...|[-816.53748353374...|[1.0,3.3472615197...|       0.0|
|  ham|"Storming msg: We...|   282|  0.0|["storming, msg:,...|["storming, msg:,...|(13338,[0,9,56,68...|(13338,[0,9,56,68...|(13339,[0,9,56,68...|[-2498.6110562148...|[1.0,9.8513295053...|       0.0|
|  ham|"When I was born,...|    72|  0.0|["when, i, was, b...|["when, born,, go...|(13338,[211,341,1...|(13338,[211,341,1...|(13339,[211,341,1...|[-754.42724776868...|[0.99999999999988...|       0.0|
|  ham|&lt;#&gt;  is fas...|   461|  0.0|[&lt;#&gt;, , is,...|[&lt;#&gt;, , fas...|(13338,[0,3,6,8,1...|(13338,[0,3,6,8,1...|(13339,[0,3,6,8,1...|[-3692.6775047142...|[1.0,9.4096419823...|       0.0|
|  ham|&lt;#&gt; , that'...|    48|  0.0|[&lt;#&gt;, ,, th...|[&lt;#&gt;, ,, al...|(13338,[6,215,254...|(13338,[6,215,254...|(13339,[6,215,254...|[-331.36615119249...|[1.0,3.5083774116...|       0.0|
|  ham|&lt;#&gt; ISH MIN...|    45|  0.0|[&lt;#&gt;, ish, ...|[&lt;#&gt;, ish, ...|(13338,[6,241,280...|(13338,[6,241,280...|(13339,[6,241,280...|[-433.71830716746...|[1.0,1.3264933439...|       0.0|
|  ham|'An Amazing Quote...|   143|  0.0|['an, amazing, qu...|['an, amazing, qu...|(13338,[59,153,21...|(13338,[59,153,21...|(13339,[59,153,21...|[-1254.3871025238...|[1.0,6.6431115767...|       0.0|
|  ham|(You didn't hear ...|    28|  0.0|[(you, didn't, he...|   [(you, hear, me)]|(13338,[273,6006,...|(13338,[273,6006,...|(13339,[273,6006,...|[-264.47026049972...|[0.01223896069912...|       1.0|
|  ham|* Thought I didn'...|    27|  0.0|[*, thought, i, d...|[*, thought, see,...|(13338,[30,63,170...|(13338,[30,63,170...|(13339,[30,63,170...|[-153.77990152783...|[0.99999999999999...|       0.0|
|  ham|* Was a nice day ...|   140|  0.0|[*, was, a, nice,...|[*, nice, day, an...|(13338,[43,44,109...|(13338,[43,44,109...|(13339,[43,44,109...|[-974.80895541188...|[1.0,3.3635731544...|       0.0|
|  ham|* Was thinking ab...|    92|  0.0|[*, was, thinking...|[*, thinking, chu...|(13338,[2,4,31,19...|(13338,[2,4,31,19...|(13339,[2,4,31,19...|[-948.25926493081...|[1.0,1.8184983705...|       0.0|
|  ham|* Will have two m...|    67|  0.0|[*, will, have, t...|[*, two, cartons,...|(13338,[0,196,277...|(13338,[0,196,277...|(13339,[0,196,277...|[-408.72288933811...|[0.99949663969648...|       0.0|
|  ham|* You gonna ring ...|    37|  0.0|[*, you, gonna, r...|[*, gonna, ring, ...|(13338,[120,196,4...|(13338,[120,196,4...|(13339,[120,196,4...|[-306.18922874837...|[0.99999999951445...|       0.0|
|  ham|, ow u dey.i paid...|    55|  0.0|[,, ow, u, dey.i,...|[,, ow, u, dey.i,...|(13338,[0,1,3,9,1...|(13338,[0,1,3,9,1...|(13339,[0,1,3,9,1...|[-572.48986869473...|[0.99999999999984...|       0.0|
|  ham|... Are you in th...|    23|  0.0|[..., are, you, i...|         [..., pub?]|(13338,[21,4669],...|(13338,[21,4669],...|(13339,[21,4669,1...|[-121.51938398525...|[0.99999999999333...|       0.0|
|  ham|....photoshop mak...|    42|  0.0|[....photoshop, m...|[....photoshop, m...|(13338,[355,861,2...|(13338,[355,861,2...|(13339,[355,861,2...|[-391.34823169429...|[0.99999999981243...|       0.0|
+-----+--------------------+------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [ ]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
acc_eval = MulticlassClassificationEvaluator()
acc = acc_eval.evaluate(test_results)
print("Accuracy of model at predicting spam was: {}".format(acc))

Accuracy of model at predicting spam was: 0.9172765709334049